.mobile-display .carruselContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    color: black;
    margin-top: 10%;
}
.carruselContainer .mySlide{
    width: auto;
    height: 200px;
}
.carruselContainer .mySlide .priceImage{
    width: 100%;
}