.mobile-display .carruselContainer{
  overflow: hidden;
  width: 100%;
  height: 200px;
  color: black;
}

/*---------------SLIDE ANIMATION--------------*/

@-webkit-keyframes slide_animation{
  0% {left: 0%;}
  10% {left: 0%;}
  20% {left: 100%;}
  30% {left: 100%;}
  40% {left: 200%;}
  50% {left: 200%;}
  60% {left: 100%;}
  70% {left: 100%;}
  80% {left: 0%;}
  90% {left: 0%;}
  100% {left: 0%;}  
}

.carruselContainer .slide-prices{
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 300%;
  height: 200px;
  margin: 0 0 0 -200%;
  /*-180% para el margen izquierdo (left) significa que el margen izquierdo es negativo y es igual al 180% del ancho del elemento contenedor. 
  Esto efectivamente desplaza el elemento hacia la izquierda, fuera de la vista, creando un efecto de ocultamiento inicial.*/
  position: relative;
  -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-play-state: running;
}

.slide-prices .imgContainer{
  background-image: url("../../public/ordenadorFroga.jpg");
  background-size: cover;
  height: 180px;
  width: 90%;
  display: inline-block;/*Uso de display: inline-block;: Para que las imágenes se muestren una al lado de la otra*/
  position: relative;
  float: left;
  border-radius: 10px;
  margin: 20px;
}
.slide-prices .imgContainer .slideText{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: center;
}
.slide-prices .imgContainer .slideText span{
  font-size: 15px; /* Asegúrate de especificar una unidad de medida válida */
  color: black;
}
